
.verifyreg-container {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, #001AA3 93.11%), linear-gradient(180deg, #001AA3 0%, rgba(255, 255, 255, 0.00) 93.11%);
    min-height: 100vh;

    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.verify-inner {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
    text-align: center;
}

.verifyouter-container {
    width: 448px;
    border-radius: 16px !important;
    background-color: #fefefe;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media (max-width: 769px) {
    .verifyouter-container {
        width: 328px;
    }
}